<div class="page-header">
  <h1>Profile <small>{{ profileCtrl.user.password.email }}</small></h1>
  <imput type="button" bvalue="Logout" ng-click="profileCtrl.logout()"></imput>
</div>

<div class="page-header">Location</div>


<!-- MAP -------------------------------------------------------------------------------------------------------------------------------------------------------->

  <ng-map
     center="address...">
     <marker id="marker_{{ $index }}" ng-repeat="location in locationCtrl.addresses" position="{{ address.address }}"></marker>
   </ng-map>

   <ng-map center="{{ addresses[0].address }}"></ng-map>
